
# autotools build artifacts
.deps/
.libs/
Makefile
Makefile.in
aclocal.m4
ar-lib
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.h.in~
config.log
config.status
config.sub
configure
depcomp
install-sh
*.la
*.lo
*.o
libtool
ltmain.sh
m4/
missing
stamp-h1
test-driver
test-suite.log
test/.deps/
test/.dirstamp
*.log
*.trs
